@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* global styles started */
:root{
  --darkOne: rgba(24, 24, 24, 1);
  --darkTwo: rgba(71, 71, 71, 1);
  --darkThree: rgba(117, 117, 117, 1);
  --lightColor: rgba(255, 255, 255, 1);
  --btnColor: rgba(253, 110, 10, 1);
}

*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body{
  box-sizing: border-box;
}

.display{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  background-color: rgba(253, 110, 10, 1);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  color: var(--lightColor);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover{
  background-color: var(--lightColor);
  color: var(--btnColor);
}

h2{
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 0%;
  color: var(--darkOne);
}
/* global styles ended */

/* header section styles started */
#header_section{
  width: 1300px;
  height: 780px;
  margin: 0 auto;
  background-image: url("../images/developer.png"), url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: left center, bottom right;
  background-color: rgb(255, 248, 243);
}

#nav_container{
  justify-content: space-between;
  padding-top: 20px;
}

#logo{
  margin-left: 130px;
}

#logo h3{
  font-size: 45px;
  font-weight: 800;
  color: var(--darkOne);
}
#logo h3 span{
  color: var(--btnColor);
}

/* main menu styles */

#main_menu{
  margin-right: 130px;
}

#main_menu ul li{
  list-style: none;
  margin-left: 30px;
}

#main_menu ul li a{
  color: var(--darkTwo);
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;  
}

/* banner section styles started */
#banner_section{
  max-width: 1300px;
  height: 699px;
}

#banner_section .banner_content{
  margin-left: 130px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#banner_section .banner_content span{
  font-size: 45px;
  font-weight: 600;
  color: var(--darkTwo);
}
#banner_section .banner_content h1{
  color: var(--darkOne);
  font-size: 85px;
  font-weight: 700;
}
#banner_section .banner_content p{
  color: var(--darkThree);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}

#banner_section .banner_content .contact_btn{
  background-color: var(--lightColor);
  border: 1px solid var(--btnColor);
  color: var(--btnColor);
  margin-left: 5px;
}

#banner_section .banner_part{
  width: 50%;
}

#banner_img{
  height: 100%;
}
#banner_img img{
  height: 100%;
  position: bottom;
}
/* header section styles ended */

/* about section styles started */
#about_section{
  width: 1100px;
  height: 550px;
  border-radius: 10px;
  background: rgb(255, 248, 243);
  margin: 100px auto;
}

#about_container{
  flex-direction: column;
  gap: 20px;
  text-align: center;
  width: 800px;
  height: 288px;
  padding: 0 15px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  background-color: var(--lightColor);
}

#about_container p{
  color: var(--darkThree);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}

#about_container .about_items{
  width: 100%;
  justify-content: space-between;
  font-size: 20px;
  color: var(--darkThree);
}

#about_container .about_items p{
  font-weight: 700;
  color: var(--darkTwo);
}
/* about section styles ended */

/* portfolio section styles started */
#portfolio_section{
  margin-bottom: 200px;
}

#portfolio_container{
  width: 1100px;
  margin: 0 auto;
}

#portfolio_container .portfolio_content{
  text-align: center;
  width: 900px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#portfolio_container .portfolio_content p{
  color: var(--darkThree);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  margin-top: 30px;
}

#portfolio_container .portfolio_items{
  gap: 20px;
}
#portfolio_container .portfolio_items .portfolio_card{
  width: 270px;
  height: 370px;
  padding: 30px 32px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.1);
  background: var(--lightColor);
}
#portfolio_container .portfolio_items .portfolio_card img{
  width: 44px;
  height: 44px;
}

#portfolio_container .portfolio_items .portfolio_card h4{
  color: var(--darkOne);
  font-size: 20px;
  font-weight: 700;
  margin: 30px 0;
}
#portfolio_container .portfolio_items .portfolio_card p{
  color: var(--darkThree);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
/* portfolio section styles ended */

/* resume section styles started */
#resume_section{
  width: 1100px;
  margin: 0 auto;
}

#resume_section > h2{
  text-align: center;
  margin-bottom: 110px;
}

#resume_section .resume_items{
  padding: 15px;
}

#resume_section .resume_items h3{
  color: var(--darkTwo);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0%;
  margin-bottom: 30px;
}

#resume_section .resume_items .resume_item h4{
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0%;
  margin-bottom: 10px;
  color: var(--darkTwo);
}

#resume_section .resume_items .resume_item span{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0%;
  color: var(--darkThree);
}

#resume_section .resume_items .resume_item p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  color: var(--darkThree);
  margin-top: 20px;
  margin-bottom: 30px;    
}
#resume_section .resume_items .resume_item hr{
  border: 1px solid rgb(209, 209, 209);
  margin-bottom: 30px;
}
#resume_section .resume_btn{
  text-align: center;
}
/* resume section styles ended */